body {
  background-color: #f5f5f5 !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
}
.default-text-color {
  color: #888888;
}
.rounded8 {
  border-radius: 8px;
}
.rounded10 {
  border-radius: 10px;
}
.shadow004 {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important;
}

.font-13 {
  font-size: 11px;
  line-height: 13px;
}
.font-11 {
  font-size: 11px;
  line-height: 13px;
}
.font-12 {
  font-size: 12px;
  line-height: 15px;
}
.font-40 {
  font-size: 40px;
  line-height: 49px;
}
.font-weight-400 {
  font-weight: 400;
}
.app-header {
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.app-header-icon {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.app-header-icon img {
  padding: 9px 42px 5px 12px;
}
.app-header-icon .header-link {
  margin-left: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #184eff;
  border-bottom: 5px solid #184eff;
  cursor: pointer;
}
.app-header-profile {
  padding: 2px 3px 4px 19px;
  border-radius: 50%;
}
.app-header-profile img {
  border-radius: 50%;
  margin-top: 2px;
}

/* main body */
.main-body {
  margin: 0 16px 16px 16px;
  border-radius: 10px !important;
}

/* input */
.numberinput {
  background: #ffffff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 14px;
  width: 23px;
  border: none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.customer-search::placeholder {
  color: #dfdfdf;
}
.customer-search-main {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.customer-search {
  width: 171px;
  height: 26px;
  background: #ffffff;
  border: 0;
  color: #888888;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  border-radius: 0 5px 5px 0;
}

/* table */
table {
  border-radius: 10px !important;
  border-collapse: collapse;
  width: 100%;
  background: #ffffff;
  color: #888888;
}
.theadicon {
  height: 10px;
  width: 10px;
}
.main-body table thead {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0px 0px;
}
.main-body table thead,
tbody tr td,
th {
  width: 12.5%;
}
.main-body table thead tr th {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
}
.main-body table tbody tr td {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.main-body table tr {
  border-bottom: 1px solid #d2d2d2;
}
.main-body table tbody tr:hover {
  color: #184eff !important;
}
.main-body table tr:last-child {
  border-bottom: none !important;
}
.main-body table td {
  border: none !important;
  text-align: left;
  padding: 5px 0 5px 0;
  height: 54px;
}
.main-body table tr th {
  height: 59px;
  /* padding: 24px 0 22px 0; */
}
.updownicon {
  position: absolute;
  left: 24%;
}
.moreicon {
  cursor: pointer;
}
.moreiconcheck {
  transform: rotate(180deg);
}
.company-name {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
}

.digital-fabric {
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 3px 19px 3px 19px;
}
.digital-fabric-green {
  background: #abdf9d;
  color: #58a942;
}
.digital-fabric-orange {
  background: #fff2d3;
  color: #f5c451;
}
.digital-fabric-red {
  background: #ffaeae;
  color: #ff1414;
}

/* detail view */
.detailview .maintable {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.detailview .maintable table tbody tr {
  color: #184eff !important;
}
.detailviewtable {
  border-radius: 10px 10px 0 0 !important;
}
.rounded10bottom {
  border-radius: 0 0 10px 10px !important;
}
.main-body .maintable table thead,
tbody tr td,
th {
  width: 12.5% !important;
}
.personimagediv {
  border-radius: 10px;
  display: inline-block;
  padding: 2px;
  border: 1px solid #d2d2d2;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.personimagediv img {
  border-radius: 10px;
}
.detailoflist {
  background-color: #ffffff;
}

.font-light-grey {
  color: #d2d2d2;
}
.font-10 {
  font-size: 10px;
  line-height: 12px;
}
.font-weight-600 {
  font-weight: 600;
}
.font-16 {
  font-size: 16px;
  line-height: 20px;
}
.enddate {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.height150 {
  height: 150px;
}

/* ticketdetailtable */
.ticketdetailtable table {
  color: #5f5f5f !important;
  background: #ffffff;
  border-radius: 10px;
}

.ticketdetailtable table thead {
  background-color: #184eff;
  border-radius: 10px 10px 0 0 !important;
  color: white !important;
  font-weight: 600;
}
.main-body .ticketdetailtable table tbody tr td {
  font-size: 10px !important;
  color: #5f5f5f !important;
  font-weight: 600;
}
.main-body .ticketdetailtable table tbody tr {
}
.main-body .ticketdetailtable table tr:last-child {
  border-bottom: 1px solid #d2d2d2 !important;
}


.width15 {
  width: 15% !important;
}
.width40 {
  width: 40% !important;
}
.tickettableheight2 {
  height: 443px;
  overflow: auto;
}
.personimagediv .profileimg{

}